
@{
    ViewBag.Title = "Treasury";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-xs-4">
        <h2>Tithing</h2>
        <p>
            Something About Tithing
        </p>
        <p>
            <a class="btn btn-default" ng-href="/Tithing/Home">Add Tithes &raquo;</a>
        </p>
    </div>

    <div class="col-xs-4">
        <h2>Offerings</h2>
        <p>
            Something About Offerings
        </p>
        <p>
            <a class="btn btn-default" ng-href="/Offerings/Home">View Tithes &raquo;</a>
        </p>
    </div>
</div>