<!--header-->
<div class="modal-header">
    <button type="button" class="close" ng-click="dtc.closeDeleteTitheModal()">&times;</button>
    <h4>Delete Tithe</h4>
</div>
<!--Body-->
<div class="modal-body">
    <h4>Are you sure you want to delete?</h4>
</div>
<!--Footer-->
<div class="modal-footer">
    <button class="btn btn-danger" type="submit" ng-click="dtc.deleteTithe()">Delete</button>
    <button class="btn btn-info" type="button" ng-click="dtc.closeDeleteTitheModal()">Cancel</button>
</div>