<!--Running Total-->
<div class="col-xs-2">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            Today's Total
        </div>
        <div class="panel-body">
            @*// TODO: I need to look into how to make this thing shrink somehow based on the content*@
            <div class="text-success text-center">
                <h3>{{trt.tithesRunningTotal.data | currency}}</h3>
            </div>
        </div>
    </div>
</div>
