
@{
    ViewBag.Title = "AddTithes";
}
<div ng-controller="tithingController as tc">
    <div class="container">
        <div class="row">
            <div class="col-xs-5">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        Add Tithes
                    </div>
                    <div class="panel-body">
                        <add-tithe on-save="tc.doSaveTithe(tithe)" clear-tithing-activity="tc.clearActivity()" get-member-tithes="tc.getMemberTithes(memberId)" set-member-activity-panel-defaults="tc.setActivityByMemberPanelDefaults()"></add-tithe>
                    </div>
                </div>
            </div>
            <tithes-running-totals tithes-running-total="tc.tithesRunningTotal"></tithes-running-totals>
            <tithing-activity-by-member-grid panel-settings="tc.activityByMemberPanelSettings" open-edit-modal="tc.openEditTitheModal(tithe, index, grid)" open-delete-modal="tc.openDeleteTitheModal(titheId, memberId)"></tithing-activity-by-member-grid>
        </div>
    </div>

    <!--Tithing Activity-->
    <div style="padding-top: 10px;">
        <tithing-activity tithing-activity="tc.todaysTithingActivity" open-edit-modal="tc.openEditTitheModal(tithe, index, grid)" open-delete-modal="tc.openDeleteTitheModal(titheId, memberId)"></tithing-activity>
    </div>

</div>