<page-header page-title="Tithing"></page-header>


        <div class="row">
            <div class="col-xs-4">
                <h2>Add Tithes</h2>
                <p>
                    Something About Adding Tithes
                </p>
                <p>
                    <a class="btn btn-default" ng-href="/Tithing/AddTithes">Add Tithes &raquo;</a>
                </p>
            </div>

            <div class="col-xs-4">
                <h2>View Tithes</h2>
                <p>
                    Something About Viewing Tithes
                </p>
                <p>
                    <a class="btn btn-default" ng-href="/Tithing/TithesSearch">View Tithes &raquo;</a>
                </p>
            </div>
        </div>