<page-header page-title="Tithes Search"></page-header>

<div ng-controller="tithingController as tc">
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
    <tithing-activity get-tithing-activity="tc.getTithingActivity(tithingActivityType)"
                      tithing-activity-type="all"
                      panel-settings="tc.tithingActivityPanelSettings"
                      tithing-activity="tc.tithingActivity"
                      open-edit-modal="tc.openEditTitheModal(tithe, index, grid)"
                      open-delete-modal="tc.openDeleteTitheModal(titheId, memberId)"
                      include-date-column="true"
                      show-edit-delete="true">
    </tithing-activity>
</div>