<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2de1b364-020c-4394-a363-2acd19a88873/resourcegroups/Default-ApplicationInsights-CentralUS/providers/Microsoft.Web/sites/ChurchResourceManagerWeb</ResourceId>
    <ResourceGroup>Default-ApplicationInsights-CentralUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://churchresourcemanagerweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>churchresourcemanagerweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ChurchResourceManagerWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ChurchResourceManagerWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ChurchResourceDbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=churchresourcemanager.database.windows.net;Initial Catalog=ChurchResourceDb;Persist Security Info=True;User ID=crmAdmin;Password=!passPipocheo789" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ChurchResourceManagerWeb.Models.ChurchResourceDbEntities, ChurchResourceManagerWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ChurchResourceManagerWeb.Models.ApplicationDbContext, ChurchResourceManagerWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="ChurchResourceDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ChurchResourceDbModel.csdl|res://*/Models.ChurchResourceDbModel.ssdl|res://*/Models.ChurchResourceDbModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=churchresourcemanager.database.windows.net;Initial Catalog=ChurchResourceDb;Persist Security Info=True;User ID=crmAdmin;Password=!passPipocheo789"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>