<form id="aoc.addOfferingsForm" name="aoc.addOfferingsForm" novalidate ng-submit="aoc.addOffering(aoc.Offering, aoc.addOfferingsForm)" autocomplete="off">
    <!--Offering Type-->
    <div class="col-xs-10">
        <div class="form-group">
            <select id="ddlDonationType" name="ddlDonationType" class="form-control" ng-model="aoc.Offering.SelectedDonationType" ng-options="t.Description for t in aoc.enums.DonationTypes" required autofocus></select>
            <div class="help-block-error" ng-messages="aoc.addOfferingsForm.ddlDonationType.$error" ng-if="aoc.addOfferingsForm.ddlDonationType.$touched || aoc.addOfferingsForm.$submitted">
                <div ng-messages-include="message-template"></div>
            </div>
        </div>
    </div>
    <!--Date-->
    <div class="col-xs-10">
        <div class="form-group">
            <p class="input-group">
                <input id="dateTxtBx" name="dateTxtBx" type="text" class="form-control" ng-model="aoc.Offering.OfferingDate" uib-datepicker-popup="{{aoc.dateFormat}}" is-open="aoc.isOpenOfferingDate" ui-mask="99/99/9999" ui-mask-placeholder
                       model-view-value="true" placeholder="Date (mm/dd/yyyy)" required />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="aoc.openOfferingDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
            <div class="help-block-error" ng-messages="aoc.addOfferingsForm.dateTxtBx.$error" ng-if="aoc.addOfferingsForm.dateTxtBx.$touched || aoc.addOfferingsForm.$submitted">
                <div ng-messages-include="message-template"></div>
            </div>
        </div>
    </div>

    <!--Amount-->
    <div class="col-xs-10">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input id="amountTxtBx" name="amountTxtBx" class="form-control" type="text" placeholder="Offering Amount (Ex. $0.00)" ng-model="aoc.Offering.OfferingAmount" required />
            </div>
            <div class="help-block-error" ng-messages="aoc.addOfferingsForm.amountTxtBx.$error" ng-if="aoc.addOfferingsForm.amountTxtBx.$touched || aoc.addOfferingsForm.$submitted">
                <div ng-messages-include="message-template"></div>
            </div>
        </div>
    </div>

    <!--Comments-->
    <div class="col-xs-10">
        <div class="form-group">
            <input id="commentsTxtBx" name="commentsTxtBx" class="form-control" type="text" placeholder="Notes or Comments" ng-model="aoc.Offering.Comments" />
        </div>
    </div>

    <!--Submit and Clear Form Buttons-->
    <div class="col-xs-10">
        <button id="clearFormBtn" name="clearFormBtn" class="btn btn-default" type="button" ng-click="aoc.clearForm()">Clear Form</button>
        <button id="submitBtn" name="submitBtn" class="btn btn-primary" type="submit">Save</button>
    </div>
    
    @*<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-AO"></span>*@

</form>