<div class="col-xs-12">
    <div uib-accordion>
        <div uib-accordion-group class="panel panel-default" heading="{{oac.panelSettings.panelHeading}}" is-open="oac.panelSettings.isOpen">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th ng-show="oac.includeDateColumn === 'true'">Date</th>
                            <th>Amount</th>
                            <th>Comments</th>
                            <th width="6%"></th> <!--empty space for edit/delete-->
                        </tr>
                        <tr class="list-group" id="searchRow" name="searchRow">
                            <td ng-show="oac.includeDateColumn === 'true'">
                                <input type="text" id="txtDate" name="txtDate" class="form-control" ng-model="search.OfferingDate" />
                            </td>
                            <td>
                                <input type="text" id="txtAmount" name="txtAmount" class="form-control" ng-model="search.OfferingAmountString" />
                            </td>
                            <td>
                                <input type="text" id="txtComments" name="txtComments" class="form-control" ng-model="search.Comments" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-left" ng-repeat="offering in oac.offeringActivity | filter: search">
                            <td ng-show="oac.includeDateColumn === 'true'">{{offering.OfferingDate}}</td>
                            <td>{{offering.OfferingAmount | currency}}</td>
                            <td>{{offering.Comments}}</td>
                            <td>
                                <span ng-click="oac.editOffering(offering, $index)" uib-tooltip="Click to Edit" class="glyphicon glyphicon-pencil clickable"></span>
                                |
                                <span ng-click="oac.deleteOffering(offering.OfferingId)" uib-tooltip="Click to Delete" class="glyphicon glyphicon-remove clickable"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
