
@{
    ViewBag.Title = "Add Offerings";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>

<div ng-controller="offeringController as oc">
        <div class="row">
            <div class="col-xs-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Add Offerings
                    </div>
                    <div class="panel-body">
                        <add-offering on-save="oc.doSaveOffering(offering)"></add-offering>
                    </div>
                </div>
            </div>
            <running-totals running-total="oc.runningTotal" offering-activity="oc.offeringActivity" ></running-totals>
        </div>

    <!--Offering Activity-->
    <div style="padding-top: 10px;">
        <offering-activity get-offering-activity="oc.getOfferingActivity(offeringActivityType)"
                           offering-activity-type="{{oc.activityType.Today}}"
                           panel-settings="oc.offeringActivityPanelSettings"
                           offering-activity="oc.offeringActivity"
                           open-edit-modal="oc.openEditOfferingModal(offering, index)"
                           open-delete-modal="oc.openDeleteOfferingModal(offeringId)"></offering-activity>
    </div>

</div>