<page-header page-title="Offerings Search"></page-header>

<div class="row">
    <div class="col-md-12">
        <div ng-controller="offeringController as oc">
            <div class="col-md-12">
                <reporting-tabs report-type="Offering" go-button="oc.getOfferingActivitySearch(searchType, startDate, endDate, familyId, memberId)" no-results-found="oc.noResults" reset-tabs="oc.resetSearch()" active-tab="0"></reporting-tabs>
            </div>
            <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-AO"></span>
            <div ng-if="oc.offeringActivity.length > 0">
                <offering-activity @*get-offering-activity="oc.getOfferingActivity(offeringActivityType)"*@
                                   @*offering-activity-type="{{oc.activityType.All}}"*@
                                   panel-settings="oc.offeringActivityPanelSettings"
                                   offering-activity="oc.offeringActivity"
                                   open-edit-modal="oc.openEditOfferingModal(offering, index)"
                                   open-delete-modal="oc.openDeleteOfferingModal(offeringId)"
                                   include-date-column="true"
                                   show-edit-delete="true">
                </offering-activity>
            </div>

        </div>
    </div>
</div>