
<div class="row">
    <uib-tabset active="0">
        <uib-tab index="0" heading="Date Range">
            <div class="row">
                <div class="col-xs-6" style="padding-bottom: 1%;">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-class="{'btn-info': rtc.radioButtons.selected === 'TransactionDate'}" ng-model="rtc.radioButtons.selected" uib-btn-radio="'TransactionDate'" ng-if="rtc.reportType === 'Transaction'">Transaction Date</label>
                        <label class="btn btn-default" ng-class="{'btn-info': rtc.radioButtons.selected === 'BankPostedDate'}" ng-model="rtc.radioButtons.selected" uib-btn-radio="'BankPostedDate'" ng-if="rtc.reportType === 'Transaction'">Bank Posted Date</label>
                        <label class="btn btn-default" ng-class="{'btn-info': rtc.radioButtons.selected === 'MembershipDate'}" ng-model="rtc.radioButtons.selected" uib-btn-radio="'MembershipDate'" ng-if="rtc.reportType === 'Membership'">Membership Date</label>
                        <label class="btn btn-default" ng-class="{'btn-info': rtc.radioButtons.selected === 'ExitDate'}" ng-model="rtc.radioButtons.selected" uib-btn-radio="'ExitDate'" ng-if="rtc.reportType === 'Membership'">Exit Date</label>
                        <label class="btn btn-default" ng-class="{'btn-info': rtc.radioButtons.selected === 'DateOfBirth'}" ng-model="rtc.radioButtons.selected" uib-btn-radio="'DateOfBirth'" ng-if="rtc.reportType === 'Membership'">Date of Birth</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <p class="input-group">
                        <input id="txtFromDt" name="txtFromDt" type="text" class="form-control" ng-model="rtc.fromDate" uib-datepicker-popup="{{rtc.dateFormat}}" is-open="rtc.isOpenFromDate" ui-mask="99/99/9999" ui-mask-placeholder
                               model-view-value="true" placeholder="Date (mm/dd/yyyy)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="rtc.openFromDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-xs-2">
                    <p class="input-group">
                        <input id="txtToDt" name="txtToDt" type="text" class="form-control" ng-model="rtc.toDate" uib-datepicker-popup="{{rtc.dateFormat}}" is-open="rtc.isOpenToDate" ui-mask="99/99/9999" ui-mask-placeholder
                               model-view-value="true" placeholder="Date (mm/dd/yyyy)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="rtc.openToDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <button class="btn btn-default" ng-click="rtc.onGoButton('DateRange', rtc.fromDate, rtc.toDate)">Go!</button>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Family" ng-if="rtc.reportType === 'Membership' || rtc.reportType === 'Tithing'">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <input id="txtFamilyName"
                               name="txtFamilyName"
                               type="text"
                               class="form-control"
                               ng-model="rtc.SelectedFamily"
                               placeholder="Family Name"
                               uib-typeahead="member as member.FamilyKey for member in rtc.allMembership | filter: {FamilyKey:$viewValue} | limitTo: 8" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-default" ng-click="rtc.onGoButton('Family', null, null, rtc.SelectedFamily.FamilyId)">Go!</button>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Member" ng-if="rtc.reportType === 'Membership' || rtc.reportType === 'Tithing'">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <input id="txtMemberName"
                               name="txtMemberName"
                               type="text"
                               class="form-control"
                               ng-model="rtc.SelectedMember"
                               placeholder="Member Name"
                               uib-typeahead="member as member.MemberKey for member in rtc.allMembership | filter: {MemberKey:$viewValue} | limitTo: 8" />
                    </div>
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-default" ng-click="rtc.onGoButton('Member', null, null, null, rtc.SelectedMember.MemberId)">Go!</button>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
    <div class="row" ng-show="rtc.noResultsFound">
        <div class="col-md-12 col-md-push-5">
            <h4>No Results Found</h4>
        </div>
    </div>
</div>