<page-header page-title="Donations Letter"></page-header>


<div ng-controller="donationsLetterController as dlc" ng-show="dlc.showLetters">
    <div class="col-md-8 col-md-push-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-3 col-md-push-9">
                        <p>
                            Iglesia de Dios Agua en el Desierto <br />
                            5401 W Burnham Street <br />
                            Milwaukee, WI 53219
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <h3>Iglesia de Dios Agua en el Desierto</h3> <br /><br />
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-10">{{dlc.letterDate | date: 'MM/dd/yyyy'}}<br /><br /></div>

                    <div class="col-md-10">
                        Dear {{dlc.memberInfo.MemberName}}, <br /><br />
                        We thank God for you! Your gifts to Iglesia de Dios Agua en el Desierto throughout {{dlc.year}} are gratefully acknowledged. <br /><br />
                        Because of your contributions, our congregation has been able to support the work of Jesus Christ locally, regionally, and around the world. <br /><br />

                        Attached is an itemized statement of your contributions for {{dlc.year}}, according to our records. <br /><br />

                        If you have any concerns about the accuracy of this information, please let us know. For income
                        tax purposes, it's important for us to state here that you did not receive any goods or services in
                        return for any of these contributions other than intangible religious benefits. You made these
                        gifts out of your own generosity and commitment to Jesus Christ. <br /><br />

                        Our records show that your total contributions for the year of {{dlc.year}} are {{dlc.totalTithes | currency}}. <br /><br />

                        Once again, thank you for your generous commitment to the work of Jesus Christ through this church. <br /><br />

                        Sincerely, <br /><br /><br /><br />

                        Rev. Efrain Rodriguez Jr.<br /><br /><br /><br />
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Check Number</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-left" ng-repeat="tithe in dlc.memberTithes">
                                <td>{{tithe.TitheDate}}</td>
                                <td>{{tithe.TitheAmount | currency }}</td>
                                <td>{{tithe.IsCheck ? tithe.CheckNumber : ""}}</td>
                                <td>{{tithe.Comments}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>