<page-header page-title="Financial Summary"></page-header>

<div ng-controller="financialSummaryController as fsc">
    <div class="row">
        <div class="col-xs-12">
            <reporting-tabs report-type="Summary" go-button="fsc.getTotals(searchType, startDate, endDate, familyId, memberId)" no-results-found="fsc.noResults"
                            reset-tabs="fsc.reset()">
            </reporting-tabs>
            
            <br/>
            <running-totals running-total="fsc.tithingRunningTotal" title="Tithes"></running-totals>
            <running-totals running-total="fsc.offeringRunningTotal" title="Offering"></running-totals>
            <running-totals running-total="fsc.donationRunningTotal" title="Donation"></running-totals>
        </div>
    </div>
</div>