<page-header page-title="Tithing Report"></page-header>

<div class="row">
    <div class="col-md-12">
        <div ng-controller="tithesReportingController as trc">
            <div class="col-md-12">
                <reporting-tabs report-type="Tithing" go-button="trc.getTithingActivity(searchType, startDate, endDate, familyId, memberId)" no-results-found="trc.noResults" reset-tabs="trc.reset()"></reporting-tabs>
            </div>

            <running-totals ng-hide="trc.noResults" running-total="trc.runningTotal"></running-totals>

                <div ng-show="trc.tithingActivity.length > 0">
                    <tithing-activity panel-settings="trc.tithingActivityPanelSettings"
                                      tithing-activity="trc.tithingActivity"
                                      include-date-column="true"
                                      show-edit-delete="false">
                    </tithing-activity>
                </div>
        </div>
    </div>
</div>