<div class="row">
    <form id="stc.transactionsForm" name="stc.transactionsForm" novalidate ng-submit="stc.submit(stc.transaction, stc.transactionsForm)" autocomplete="off">
        <div class="col-xs-12">
            <!--Transaction Type-->
            <div class="form-group">
                <label for="ddlTransactionType">Transaction Type</label>
                <select id="ddlTransactionType" name="ddlTransactionType" class="form-control" ng-model="stc.transaction.SelectedTransactionType" ng-options="t.Description for t in stc.enums.TransactionTypes" required></select>
                <div class="help-block-error" ng-messages="stc.transactionsForm.ddlTransactionType.$error" ng-if="stc.transactionsForm.ddlTransactionType.$touched">
                    <div ng-messages-include="message-template"></div>
                </div>
            </div>

            <!--Payment Account-->
            <div class="form-group">
                <label for="ddlPaymentAccounts">Payment Account</label>
                <select id="ddlPaymentAccounts" name="ddlPaymentAccounts" class="form-control" ng-model="stc.transaction.SelectedPaymentAccount" ng-options="t.PaymentAccount for t in stc.enums.PaymentAccounts" required></select>
                <div class="help-block-error" ng-messages="stc.transactionsForm.ddlPaymentAccounts.$error" ng-if="stc.transactionsForm.ddlPaymentAccounts.$touched">
                    <div ng-messages-include="message-template"></div>
                </div>
            </div>

            <!--Date-->
            <div class="form-group">
                <label for="dateTxtBx">Date</label>
                <p class="input-group">
                    <input id="dateTxtBx" name="dateTxtBx" type="text" class="form-control" ng-model="stc.transaction.TransactionDate" uib-datepicker-popup="{{stc.dateFormat}}" is-open="stc.isOpenTransactionDate" ui-mask="99/99/9999" ui-mask-placeholder
                           model-view-value="true" placeholder="Date (mm/dd/yyyy)" required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="stc.openTransactionDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <div class="help-block-error" ng-messages="stc.transactionsForm.dateTxtBx.$error" ng-if="stc.transactionsForm.dateTxtBx.$touched || stc.transactionsForm.$submitted">
                    <div ng-messages-include="message-template"></div>
                </div>
            </div>

            <!--Transaction Amount-->
            <div class="form-group">
                <label for="amountTxtBx">Amount</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input id="amountTxtBx" name="amountTxtBx" type="text" class="form-control" placeholder="Amount (Ex. $0.00)" ng-model="stc.transaction.TransactionAmount" required />
                </div>
                <div class="help-block-error" ng-messages="stc.transactionsForm.checkNumberTxtBx.$error" ng-if="stc.transactionsForm.amountTxtBx.$touched || stc.transactionsForm.$submitted">
                    <div ng-messages-include="message-template"></div>
                </div>
            </div>

            <!--Check Number-->
            <div class="form-group">
                <label for="checkNumberTxtBx">Check Number</label>
                <input id="checkNumberTxtBx" name="checkNumberTxtBx" class="form-control" type="number" placeholder="1234"
                       ng-model="stc.transaction.CheckNumber" />
                <div class="help-block-error" ng-messages="stc.transactionsForm.checkNumberTxtBx.$error" ng-if="stc.transactionsForm.checkNumberTxtBx.$touched || stc.transactionsForm.$submitted">
                    <div ng-messages-include="message-template"></div>
                </div>
            </div>

            <!--Bank Posted Date-->
            <div class="form-group">
                <label for="bankPostedDateTxtBx">Bank Posted Date</label>
                <input id="bankPostedDateTxtBx"
                       name="bankPostedDateTxtBx"
                       class="form-control"
                       type="text"
                       placeholder="Date (mm/dd/yyyy)"
                       ng-model="stc.transaction.BankPostedDate"
                       ui-mask="99/99/9999"
                       ui-mask-placeholder
                       model-view-value="true" />
            </div>

            <!--Is Debit-->
            <div class="form-group">
                <button id="isDebitCkBx" name="isDebitCkBx" type="button" class="btn btn-default" ng-class="{'btn-info': stc.transaction.IsDebit}" ng-model="stc.transaction.IsDebit"
                        uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                    Is Debit? <i ng-class="{'glyphicon glyphicon-check': stc.transaction.IsDebit}"></i>
                </button>


            </div>

            <!--Comments-->
            <div class="form-group">
                <label for="commentsTxtBx">Comments</label>
                <textarea id="commentsTxtBx" name="commentsTxtBx" class="form-control" placeholder="This is to pay for..."
                          ng-model="stc.transaction.Comments" maxlength="255"></textarea>
            </div>

            <!--Submit and Clear Form Buttons-->
            <div style="padding-top: 10%; padding-bottom: 10%;">
                <button id="submitBtn" name="submitBtn" class="btn btn-default" type="submit">Save</button>
                <button id="clearFormBtn" name="clearFormBtn" class="btn btn-default" type="button" ng-click="stc.clearForm(stc.transactionsForm)">Clear Form</button>
            </div>
        </div>
    </form>
</div>