<div class="col-xs-10">
    <div uib-accordion>
        <div uib-accordion-group class="panel panel-default" heading="Transactions" is-open="true">
            <div class="table-responsive">
                <table class="table table-striped table-hover" style="width: auto;">
                    <thead>
                        <tr>
                            <th>Transaction Type</th>
                            <th>Transaction Date</th>
                            <th>Amount</th>
                            <th>Check Number</th>
                            <th>Bank Posted Date</th>
                            <th>Is Debit</th>
                            <th>Comments</th>
                            <th ng-show="tgc.showEditDelete === 'true'"></th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="txtTransactionType" name="txtTransactionType" class="form-control" ng-model="search.TransactionType" />
                            </td>
                            <td>
                                <input type="text" id="txtTransactionDate" name="txtTransactionDate" class="form-control" ng-model="search.TransactionDate" />
                            </td>
                            <td>
                                <input type="text" id="txtTransactionAmount" name="txtTransactionAmount" class="form-control" ng-model="search.TransactionAmountString" />
                            </td>
                            <td>
                                <input type="text" id="txtCheckNumber" name="txtCheckNumber" class="form-control" ng-model="search.CheckNumber" />
                            </td>
                            <td>
                                <input type="text" id="txtBankPostedDate" name="txtBankPostedDate" class="form-control" ng-model="search.BankPostedDate" />
                            </td>
                            <td>
                                <input type="text" id="txtIsDebit" name="txtIsDebit" class="form-control" ng-model="search.IsDebitString" />
                            </td>
                            <td>
                                <input type="text" id="txtComments" name="txtComments" class="form-control" ng-model="search.Comments" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-left" ng-repeat="transaction in tgc.transactions | filter: search">
                            <td>{{transaction.TransactionType}}</td>
                            <td>{{transaction.TransactionDate}}</td>
                            <td>{{transaction.TransactionAmount | currency}}</td>
                            <td>{{transaction.CheckNumber}}</td>
                            <td>{{transaction.BankPostedDate}}</td>
                            <td>{{transaction.IsDebitString}}</td>
                            <td>{{transaction.Comments}}</td>
                            <td ng-show="tgc.showEditDelete === 'true'">
                                <span ng-click="tgc.edit(transaction)" uib-tooltip="Click to Edit" class="glyphicon glyphicon-pencil clickable"></span>
                                |
                                <span ng-click="tgc.deleteTransaction(transaction.TransactionId)" uib-tooltip="Click to Delete" class="glyphicon glyphicon-remove clickable"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>