<page-header page-title="Transactions Search"></page-header>

<div ng-controller="transactionsController as tc">
    <transactions-grid transactions="tc.transactions" get-transactions="tc.getTransactions()"></transactions-grid>
</div>