<div class="col-xs-6">
    <div class="read-only-padding">
        <label for="address1">Address</label>
        <div id="address1">{{ac.locationAddress.Address1}}</div>
        <div id="address2">{{ac.locationAddress.Address2}}</div>
    </div>

    <div class="read-only-padding">
        <label for="city">City</label>
        <div id="city">{{ac.locationAddress.City}}</div>
    </div>

    <div class="read-only-padding">
        <label for="state">State</label>
        <div id="state">{{ac.locationAddress.SelectedState.Name}}</div>
    </div>

    <div class="read-only-padding">
        <label for="zipCode">Zip Code</label>
        <div id="zipCode">{{ac.locationAddress.ZipCode}}</div>
    </div>
</div>
