<form name="ac.addressInfoMainForm" id="ac.addressInfoMainForm" novalidate autocomplete="off" ng-submit="ac.submit(ac.locationAddress, ac.addressInfoMainForm)">
    <div class="row" style="padding-left: 3%">
        <div class="col-xs-6" ng-show="ac.beingEdited">
            <div class="form-group" ng-class="{'has-error' : ac.addressInfoMainForm.address1TxtBx.$invalid && ac.addressInfoMainForm.address1TxtBx.$touched}">
                <label for="address1TxtBx">Address</label>
                <input id="address1TxtBx" name="address1TxtBx" class="form-control" type="text" placeholder="123 Main St." ng-model="ac.locationAddress.Address1" required
                       maxlength="255" />
                <div class="help-block-error" ng-messages="ac.addressInfoMainForm.address1TxtBx.$error" ng-if="ac.addressInfoMainForm.address1TxtBx.$touched">
                    <div ng-messages-include="message-template"></div>
                </div>
                <input id="address2TxtBx" name="address2TxtBx" class="form-control" type="text" placeholder="Apt. 123" ng-model="ac.locationAddress.Address2"
                       maxlength="255" />
            </div>
            <div class="form-group" ng-class="{'has-error' : ac.addressInfoMainForm.cityTxtBx.$invalid && ac.addressInfoMainForm.cityTxtBx.$touched}">
                <label for="cityTxtBx">City</label>
                <input id="cityTxtBx" name="cityTxtBx" class="form-control" type="text" placeholder="Milwaukee" ng-model="ac.locationAddress.City" required
                       maxlength="50" />
                <div class="help-block-error" ng-messages="ac.addressInfoMainForm.cityTxtBx.$error" ng-if="ac.addressInfoMainForm.cityTxtBx.$touched">
                    <div ng-messages-include="message-template"></div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : ac.addressInfoMainForm.stateTxtBx.$invalid && ac.addressInfoMainForm.stateTxtBx.$touched}">
                <label for="stateTxtBx">State</label>
                <select id="stateTxtBx" name="stateTxtBx" class="form-control" ng-model="ac.locationAddress.SelectedState" ng-options="m.Name for m in ac.stateList" required></select>
                <div class="help-block-error" ng-messages="ac.addressInfoMainForm.stateTxtBx.$error" ng-if="ac.addressInfoMainForm.stateTxtBx.$touched">
                    <div ng-messages-include="message-template"></div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : ac.addressInfoMainForm.zipTxtBx.$invalid && ac.addressInfoMainForm.zipTxtBx.$touched}">
                <label for="zipTxtBx">Zip Code</label>
                <input id="zipTxtBx" name="zipTxtBx" class="form-control" type="text" ng-model="ac.locationAddress.ZipCode" required
                       maxlength="10" ui-mask="99999-?9?9?9?9" />
                <div class="help-block-error" ng-messages="ac.addressInfoMainForm.zipTxtBx.$error" ng-if="ac.addressInfoMainForm.zipTxtBx.$touched">
                    <div ng-messages-include="message-template"></div>
                </div>
            </div>
        </div>

        <address-read-only location-address="ac.locationAddress" ng-show="!ac.beingEdited"></address-read-only>

    </div>
    <div>
        <button id="editFamilyBtn" name="editFamilyBtn" class="btn btn-primary" type="button" ng-click="ac.edit()" ng-if="!ac.beingEdited">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </button>
        <button id="submitFamilyBtn" name="submitFamilyBtn" class="btn btn-primary" type="submit" ng-if="ac.beingEdited">
            <span class="glyphicon glyphicon-check"></span> Save
        </button>
    </div>
</form>