<div class="col-xs-12">
    <div uib-accordion>
        <div uib-accordion-group class="panel panel-default" heading="Members" is-open="true">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Family Id</th>
                            <th>Member Id</th>
                            <th>Family Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Membership Status</th>
                            <th ng-show="mgc.showEditDelete === 'true'" width="3%"></th> <!--empty space for edit/delete-->
                        </tr>
                        <tr class="list-group" id="searchRow" name="searchRow">
                            <td>
                                <input type="text" id="txtFamilyId" name="txtFamilyId" class="form-control" ng-model="search.FamilyId" />
                            </td>
                            <td>
                                <input type="text" id="txtMemberId" name="txtMemberId" class="form-control" ng-model="search.MemberId" />
                            </td>
                            <td>
                                <input type="text" id="txtFamilyName" name="txtFamilyName" class="form-control" ng-model="search.FamilyName" />
                            </td>
                            <td>
                                <input type="text" id="txtFirstName" name="txtFirstName" class="form-control" ng-model="search.FirstName" />
                            </td>
                            <td>
                                <input type="text" id="txtLastName" name="txtLastName" class="form-control" ng-model="search.LastName" />
                            </td>
                            <td>
                                <input type="text" id="txtDob" name="txtDob" class="form-control" ng-model="search.Dob" />
                            </td>
                            <td>
                                <input type="text" id="txtGender" name="txtGender" class="form-control" ng-model="search.Gender" />
                            </td>
                            <td>
                                <input type="text" id="txtMembershipStatus" name="txtMembershipStatus" class="form-control" ng-model="search.MembershipStatus" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-left" ng-repeat="member in mgc.members | filter: search">
                            <td>{{member.FamilyId}}</td>
                            <td>{{member.MemberId}}</td>
                            <td>{{member.FamilyName}}</td>
                            <td>{{member.FirstName}}</td>
                            <td>{{member.LastName}}</td>
                            <td>{{member.Dob}}</td>
                            <td class="text-center">{{member.Gender}}</td>
                            <td>{{member.MembershipStatus}}</td>
                            <td ng-show="mgc.shoEditDelete === 'true'">
                                <span ng-click="mgc.edit(member)" uib-tooltip="Click to Edit" class="glyphicon glyphicon-pencil clickable"></span>
                                @*|*@
                                @*<span ng-click="mgc.deleteMember(offering.OfferingId)" uib-tooltip="Click to Delete" class="glyphicon glyphicon-remove clickable"></span>*@
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>