
@{
    ViewBag.Title = "Membership";
}

<h2 style="padding-bottom: 40px;">@ViewBag.Title</h2>



<div class="row">
    <div class="col-xs-4">
        <h2>Add Membership</h2>
        <p>
            Something About Adding Members
        </p>
        <p>
            <a class="btn btn-default" ng-href="/Membership/AddMembership">Add Membership &raquo;</a>
        </p>
    </div>

    <div class="col-xs-4">
        <h2>View Membership</h2>
        <p>
            Something About Offerings
        </p>
        <p>
            <a class="btn btn-default" ng-href="/Membership/MembershipSearch">View Membership &raquo;</a>
        </p>
    </div>
</div>