<page-header page-title="Members Search"></page-header>

<div ng-controller="membershipController as mc">
    <members-grid open-edit-modal="mc.openEditMembershipModal(member)" get-member-search-data="mc.getMemberSearch()" members="mc.members"></members-grid>
</div>

