
@{
    ViewBag.Title = "Members Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div ng-controller="membershipController as mc">
    <members-grid open-edit-modal="mc.openEditMembershipModal(member)"></members-grid>
</div>

