
<div class="modal-header">
    <button type="button" class="close" ng-click="edc.dismiss()">&times;</button>
    <h4 class="modal-title text-center" id="modal-title">Edit Tithe</h4>
</div>
<div class="modal-body">
    <!--Error Message Banner-->
    <div ng-show="edc.processFlow.error">
        <div class="alert alert-danger alert-dismissible fade in">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{edc.processFlow.errorMessage}}
        </div>
    </div>

    <div class="row">
        <add-donation donation="edc.donation" on-save="edc.doSave(donation)" enums="edc.enums"></add-donation>

    </div>
</div>
<div class="modal-footer">
    <!--Submit and Clear Form Buttons-->
    <div class="col-xs-12">
    </div>
</div>

