<page-header page-title="Add Donations"></page-header>

<div ng-controller="donationController as dc">
    <div class="row">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Add Donation
                </div>
                <div class="panel-body">
                    <add-donation donation="dc.donation" on-save="dc.doSave(donation)" on-clear-form="dc.doClearForm(form)" enums="dc.enums"></add-donation>
                </div>
            </div>
        </div>
    </div>
    <span us-spinner="{radius:30, width:8, length: 16}"></span>

    <!--Donation Activity-->
    <donation-activity get-donation-activity="dc.getDonationActivity(donationActivityType)"
                       donation-activity-type="{{dc.activityType.Today}}"
                       panel-settings="dc.donationActivityPanelSettings"
                       donation-activity="dc.donationActivity"
                       open-edit-modal="dc.openEditDonationModal(donation, index)"
                       open-delete-modal="dc.openDeleteDonationModal(donationId)"
                       include-date-column="true"
                       show-edit-delete="true">
    </donation-activity>
</div>